<!DOCTYPE html>
<html>
<head>
  <title>Papersphere</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-header">
      <img width="120" haight="120" src="/logo.png" alt="PaperSphere" /> 
    </div>
    <div class="navbar-header">
       <a class="navbar-brand" href="/"><h1>PaperSphere</h1></a>
    </div>
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/reading_lists">My lists</a></li>
            <li><a href="/groups">My groups</a></li>
            <li><a href="/papers">My papers</a></li>
            <li><%= form_tag '/users/sign_out', method: :delete, "role" => "form" do %>
              <%= submit_tag 'Log Out', "class" => "btn btn-primary" %>
            <% end %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
    
  </nav>
  
  <% if notice.present? %>
    <p class="alert alert-warning"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <div class="page-content">
  <%= yield %>
  </div>

</body>
</html>
