<ol class="breadcrumb">
    <li><a href="<%= reading_lists_path %>">Home</a></li>
    <li><a href="<%= reading_list_url @reading_list %>"><%= @reading_list.name %></a></li>
    <li class="active"><%= @paper.title.truncate(40) %></li>
</ol>
<div class="panel panel-default reading-list-paper-panel">
  
  <div class="panel-heading">
    <h3 class="panel-title"><%= @paper.title %></h3>
  </div>
  
  <div class="panel-body">
    <dl class="dl-horizontal reading-list-paper-dl">
      <dt>Author:</dt><dd><%= @paper.author %></dd>
      <dt>Year:</dt><dd><%= @paper.year %></dt>
      <dt>Publication:</dt><dd><%= @paper.publication %></dt>
    </dl>
  </div>
</div>
<div class="clearfix">
  <%= link_to @paper.url, :class => "btn btn-primary full-paper-btn" do %>
    <span class="glyphicon glyphicon-book"></span> Download the full paper
  <% end %>
  <%= form_for(rating_to_use_for_form, remote: true, :html => { :class => 'rating_ballot' }) do |f| %>
    <%= f.label("value_1", content_tag(:span, '1'), {:class=>"rating", :id=>"1"}) %>
    <%= radio_button_tag("rating[value]", 1, current_user_rating == 1, :class => 'rating_button') %>
    <%= f.label("value_2", content_tag(:span, '2'), {:class=>"rating", :id=>"2"}) %>
    <%= radio_button_tag("rating[value]", 2, current_user_rating == 2, :class => 'rating_button') %>
    <%= f.label("value_3", content_tag(:span, '3'), {:class=>"rating", :id=>"3"}) %>
    <%= radio_button_tag("rating[value]", 3, current_user_rating == 3, :class => 'rating_button') %>
    <%= f.label("value_4", content_tag(:span, '4'), {:class=>"rating", :id=>"4"}) %>
    <%= radio_button_tag("rating[value]", 4, current_user_rating == 4, :class => 'rating_button') %>
    <%= f.label("value_5", content_tag(:span, '5'), {:class=>"rating", :id=>"5"}) %>
    <%= radio_button_tag("rating[value]", 5, current_user_rating == 5, :class => 'rating_button') %>

    <%= hidden_field_tag("reading_list_paper_id", @reading_list_paper.id) %>
  <% end %>
</div>
<% if @reading_list_paper.average_rating.nil? %>
  <p id="average-rating">No ratings yet.</p>
<% else %>
  <p id="average-rating">Average Rating: <%= @reading_list_paper.average_rating %></p>
<% end %>
<br />
<%= link_to 'Back', @reading_list %>

<%= form_for Comment.new,
    remote: true,
    :html => { role: "form", :class => "comment-form" } do |f| %>
  
  <%= text_area :comment, :text,
      :class => "form-control comment-input",
      rows: 3, cols: 120,
      placeholder: "Enter comment..."  %>
  
  <%= hidden_field_tag "reading_list_paper_id", @reading_list_paper.id %>
      
  <%= f.submit "Post Comment",
      :class => "btn btn-primary btn-xs post-comment-btn" %>
      
<% end %>

<% if @reading_list_paper.recent_comments.present? %>
  <%= render "comments/comments", comments: @reading_list_paper.recent_comments %>
<% else %>
  <h4 id="empty-table-msg">No comments yet. Be the first to post!</h4>
<% end %>