<h4><%= @paper.title %></h4>
<dl class="dl-horizontal reading-list-paper-dl">
  <dt>Author:</dt><dd><%= @paper.author %></dd>
  <dt>Year:</dt><dd><%= @paper.year %></dt>
  <dt>Publication:</dt><dd><%= @paper.publication %></dt>
</dl>

<%= link_to 'Back', @reading_list %>
