<% if @results.count > 0 %>
    <p>Showing <%= @results.pos %> - <%= @results.pos + @results.count - 1 %> of <%= @results.total %> results</p>
    <table width="100%" cellpadding="2px" cellspacing="2px">
        <tr>
            <th width="5%"></th>
            <th width="35%">Title</th>
            <th width="15%">Authors</th>
            <th width="40%">Publication</th>
            <th width="5%">Year</th>
        </tr>
        <% @results.results.each do |entry| %>
            <tr>
                <td>
                    <%= form_tag({:controller => 'reading_list_papers'}, :remote => true, :method => :post) do %>
                        <%= hidden_field_tag :reading_list_id, params[:reading_list_id] %>
                        <%= hidden_field_tag :paper_title, entry.title %>
                        <%= hidden_field_tag :paper_authors, entry.author %>
                        <%= hidden_field_tag :paper_publication, entry.publication %>
                        <%= hidden_field_tag :paper_year, entry.year %>
                        <%= hidden_field_tag :paper_url, entry.url %>
                        <%= hidden_field_tag :paper_unique_id, entry.entry_id %>
                        <%= submit_tag 'Add', :disable_with => 'Please wait...', :class => 'submit' %>
                    <% end %>
                </td>
                <td><%= entry.title %></td>
                <td><%= entry.author %></td>
                <td><%= entry.publication %></td>
                <td><%= entry.year %></td>
            </tr>
        <% end %>
    </table>
    <%= will_paginate @results.get_paginated_results, :params => {:controller => 'remote_library', :action => 'search', :query => params[:query], :reading_list_id => params[:reading_list_id], :db => params[:db]}, :remote => true %>
<% else %>
    <p>No matching results</p>
<% end %>