<%= form_for(@reading_list, :html => { :class => 'form-inline' }) do |f| %>
  <% if @reading_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_list.errors.count, "error") %> prohibited this reading_list from being saved:</h2>

      <ul>
      <% @reading_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name">Reading List Name</label>
    <%= f.text_field :name, :class => 'form-control', :placeholder => 'Enter Name', :size => 40 %>
  </div>
  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
