<div class="page-header">
    <h1>My Reading Lists</h1>
</div>

<% if @reading_lists.count > 0 %>
<div class="panel panel-primary">
    <div class="panel-heading">Reading Lists (<%= @reading_lists.count %>)</div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Papers</th>
            <th>Actions</th>
          </tr>

            <% @reading_lists.each do |reading_list| %>
              <tr>
                <td><%= link_to reading_list.name , reading_list %>
                <td><%= reading_list.reading_list_papers.count %></td>
                <td>
                    <%= link_to 'View', reading_list %> -
                    <%= link_to 'Rename', edit_reading_list_path(reading_list) %> -
                    <%= link_to 'Delete', reading_list, method: :delete, data: { confirm: 'Are you sure?' }  %>
                </td>
              </tr>
            <% end %>
        </table>
    </div>
</div>
<% else %>
    <div class="alert alert-info">You do not have any reading lists. Use the form below to create your first reading list.</div>
<% end %>

<div class="panel panel-primary">
    <div class="panel-heading">Create New Reading List</div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>

<h4>Reading Lists shared with me</h4>

<table class="table table-striped table-hover">
  <tr>
    <th>Group</th>
    <th>Name</th>
    <th>Papers</th>
  </tr>

<% ### TODO fix terrible, terrible n-ary multi-level join %>
<% current_user.groups.each do |group| %>
  <% group.reading_lists.each do |reading_list| %>
    <tr>
      <td><%= link_to group.name , group %></td>
      <td><%= link_to reading_list.name , reading_list %>
      <td><%= reading_list.reading_list_papers.count %></td>
    </tr>
  <% end %>
<% end %>
</table>
