<p id="notice"><%= notice %></p>

<h4><%= @reading_list.name %></h4>
<div id="paper-listing">
    <%= render :partial => 'paper_list' %>
</div>
<br/>
<%= form_tag({:action => 'search', :controller => 'remote_library'}, :remote => true, :'data-update-target' => 'update-container') do %>
    <%= text_field_tag 'query', nil, :class => 'textinput', :placeholder => 'Keywords'  %>
    <%= submit_tag 'Search', :disable_with => 'Please wait...', :class => 'submit' %>
    <br/>
    ACM <%= radio_button_tag 'db', 'acm', true %>
    IEEE <%= radio_button_tag 'db', 'ieee' %>
    <%= hidden_field_tag 'reading_list_id', @reading_list.id %>
<% end %>
<br/>
<div id="update-container"></div>

<h3>Shared with</h3>
<div id="share-listing">
    <%= render :partial => 'reading_list_shares' %>
</div>

<%= link_to 'Edit', edit_reading_list_path(@reading_list) %> |
<%= link_to 'Back', reading_lists_path %>
