<p id="notice"><%= notice %></p>

<div class="page-header">
    <h1><%= @reading_list.name %></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="paper-listing">
            <%= render :partial => 'paper_list' %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Search for Papers</div>
            <div class="panel-body">
                <%= form_tag({:action => 'search', :controller => 'remote_library'}, :remote => true, :class => 'form-inline' , :'data-update-target' => 'update-container') do %>
                    <div class="form-group">
                        <label for="query">Search</label>
                        <%= text_field_tag 'query', nil, :class => 'form-control', :placeholder => 'Keywords'  %>
                    </div>
                    <div class="form-group">
                        <label class="radio">
                            <%= radio_button_tag 'db', 'acm', true %> ACM
                        </label>
                        <label class="radio">
                            <%= radio_button_tag 'db', 'ieee' %> IEEE
                        </label>
                    </div>
                    <%= submit_tag 'Search', :disable_with => 'Please wait...', :class => 'btn btn-primary' %>
                    <%= hidden_field_tag 'reading_list_id', @reading_list.id %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Rename Reading List</div>
            <div class="panel-body">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="update-container"></div>
    </div>
</div>

<h3>Shared with</h3>
<div id="share-listing">
    <%= render :partial => 'reading_list_shares' %>
</div>

<% if @reading_list.user == current_user %>
  <%= form_for @reading_list_share do |f| %>
    <div class="field">
        <% options = [] %>
        <% current_user.owned_groups.each do |g| options << [g.name, g.id] end %>
        <%= f.select :group_id, options_for_select(options) %>
    </div>
    <div class="field">
        <%= f.select :access_rights, options_for_select([["View List", "listonly"], ["View Discussion", "readonly"], ["Comment", "comment"], ["Contribute", "contribute"]]) %>
    </div>
   <div class="field">
        <%= f.hidden_field :reading_list_id, :value => @reading_list.id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_reading_list_path(@reading_list) %> |
<%= link_to 'Back', reading_lists_path %>
