<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reading_list.name %>
  (<%= @reading_list.user.email %>)
</p>


<%= link_to 'Edit', edit_reading_list_path(@reading_list) %> |
<%= link_to 'Back', reading_lists_path %>
