<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reading_list.name %>
  (<%= @reading_list.user.email %>)
</p>

<h3>Papers</h3>
<div id="paper-listing">
    <%= render :partial => 'paper_list' %>
</div>
<br/>
<%= form_tag({:action => 'search', :controller => 'remote_library'}, :remote => true, :'data-update-target' => 'update-container') do %>
    <%= text_field_tag 'query', nil, :class => 'textinput', :placeholder => 'Keywords'  %>
    <%= hidden_field_tag 'reading_list_id', @reading_list.id %>
    <%= submit_tag 'Search', :disable_with => 'Please wait...', :class => 'submit' %>
<% end %>
<br/>
<div id="update-container"></div>

<%= link_to 'Edit', edit_reading_list_path(@reading_list) %> |
<%= link_to 'Back', reading_lists_path %>
