<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<h3>Users</h3>
<table border="1">
    <tr>
        <th>E-mail</th>
    </tr>
    <%= render @group.group_members %>
</table>

<%= form_for @group_member do |f| %>
    <div class="field">
        New Group Member (E-mail):<br />
        <input name="member_email" type="text"/>
    </div>
    <div class="field">
        <%= f.hidden_field :group_id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<h3>Shared Reading Lists</h3>
<div id="share-listing">
    <%= render :partial => 'group_shares' %>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
