<h4><%= @group.name %></h4>
<table class="table table-striped table-hover">
    <tr>
        <th>E-mail</th>
    </tr>
    <%= render @group.group_members %>
</table>

<% if @group_member.group.owner == current_user %>
  <%= form_for @group_member do |f| %>
    <div class="field">
        New Group Member (E-mail):<br />
        <input name="member_email" type="text"/>
    </div>
    <div class="field">
        <%= f.hidden_field :group_id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
  <% end %>
<% end %>

<br/>
<h4>Reading Lists Shared with <%= @group.name %></h4>
<div id="share-listing">
    <%= render :partial => 'group_shares' %>
</div>
<br/>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
